.cart {
    display: flex;
    gap: 40px;
    padding: 40px 20px 20px 20px;

&-course {    
    display: flex;
    flex-direction: column;
    width: 20%;
}

& p {
    padding-bottom: 10px;
}
}

 @media (max-width: 1025px) {
    .cart {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-around; 
        padding: 0;
    

    &-course { 
        flex-basis: 40%;
        padding: 6px;
        border: 1px solid gray;
        border-radius: 4px;
    }
    }
}
